<div class="p-d-main">
    <div class="p-d-header" alt="顶部栏"></div>
    <div class="main-wrapper" ng-class="{fxFtBar: isDiscussTab(), fxNavBar: fxNavBar}">
        <div class="preside style-2">
            <div class="w">
                <div ng-repeat="item in detailInfo.author track by $index">
                    <div class="p">
                        <img ng-src="{{item.avatar}}">
                    </div>
                    <div class="c">
                        <p class="name">{{item.nickname}}</p>
                        <p class="time">{{detailInfo.time}}</p>
                        <p class="msg">{{detailInfo.introduction || '暂无介绍'}}</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="like-bar">
            <div class="l">
                <a href="" class="top-btn" ng-class="{active: detailInfo.isLikeOrTread}">{{detailInfo.likes}}</a>
                <a href="" class="tread-btn">{{detailInfo.treads}}</a>
            </div>
            <div class="daoju-bar">
                <span class="icf" ng-repeat="item in detailInfo.fansShowMagicReceive">
                    <img ng-src="{{picRoot + item.pic}}" alt="">
                    <span class="num">{{item.total}}</span>
                </span>
            </div>
        </div>
        <nav class="p-d-nav" alt="导航栏">
            <a class="sub-btn" ng-class="{active: !detailInfo.isFollow}" ng-click="follows()">
                <img src="/image/icon/famous_book_icon.png">
                <span ng-show="!detailInfo.isFollow">立即订阅</span>
                <span ng-show="detailInfo.isFollow">取消订阅</span>
            </a>
            <a class="k" ng-repeat="item in navList" ng-class="{active: item.tab == curTab}" ng-click="toggleTab(item)">{{item.name}}</a>
        </nav>
        <v-fans-show-discuss-tab ng-show="curTab == 'discuss'" alt="评论"></v-fans-show-discuss-tab>
        <v-ta-atlas-tab ng-show="curTab == 'ta-atlas'" alt="TA的图集"></v-ta-atlas-tab>
    </div>

    <div ng-if="isDiscussTab()" alt="评论操作栏">
        <div alt="评论编辑栏">
            <div class="discuss-form style-two">
                <table width="100%">
                    <tr>
                        <td class="l">
                            <span ng-click="sendGift()" alt="送礼物">
                                <img src="/image/icon/chatroom_mall.png" width="35">
                            </span>
                        </td>
                        <td>
                            <div class="ew">
                                <input type="searce" class="edit" id="discuss-form-edit" ng-model="commentContent" autocomplete="off" alt="编辑" placeholder="说点什么吧:)">
                            </div>
                        </td>
                        <td class="r">
                            <a class="send" ng-click="fansShowComment(commentContent)">评论</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
