<main class="ta-atlas-main">
    <div class="part choice-list">
        <div class="list">
            <div class="item" ng-repeat="item in list track by $index">
                <a ui-sref="photoswipe({pid: item.pid})">
                    <div class="img" style="background-color:white;" ng-style="{backgroundImage: 'url('+ (picRoot + item.big_url) +')' }">
                    </div>
                    <div class="c">
                        <p class="title">{{item.pname}}</p>
                    </div>
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="perloader-dir static" ng-if="!noMoreFlag && showScrollLoadingFlag && list.length">
        <div class="small-scale"><div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div></div>
    </div>
    <div class="no-content" ng-if="scrollLoadingReady && !list.length" style="padding:3rem 0">(∩_∩)还没有内容~~~</div>
    <div ng-if="noMoreFlag && list.length" style="color:#999;padding:10px;text-align:center;">
        没有更多~
    </div>
</main>