<section class="view-page">
    <header class="header">
        <div class="u-p" ng-click="toggleSideBar()" ng-if="shuoAvatarFlag">
            <avatar url="user.avatar"></avatar>
        </div>
        <div class="back" ng-click="backPage()" ng-if="!shuoAvatarFlag">
            <img src="image/icon/user_details_back.png">
        </div>
        <div class="n">
            <a class="k">{{title}}</a>
        </div>
    </header>
    <div class="main photoswipe-comments-main">
        <div class="discuss-list">
            <div class="item" ng-repeat="item in list">
                <div class="u-p">
                    <img ng-src="{{item.avatar || icon.defaultAvatar}}" alt="">
                </div>
                <div class="c">
                    <p class="name">{{item.username}}</p>
                    <p class="time">{{item.time}}</p>
                    <div class="msg">{{item.content}}</div>
                </div>
            </div>
        </div>
        <div class="perloader-dir static" ng-if="!noMoreFlag && scrollLoadingReady && showScrollLoadingFlag">
            <div class="small-scale"><div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div></div>
        </div>
        <div class="no-content" ng-if="scrollLoadingReady && !list.length" style="padding:3rem 0">(∩_∩)还没有内容~~~</div>
        <div ng-if="noMoreFlag && list.length" style="color:#999;padding:10px;text-align:center;">
            没有更多~
        </div>
    </div>
    <footer class="discuss-form" alt="评论编辑栏">
        <table width="100%">
            <tr>
                <td>
                    <div class="ew">
                        <input type="searce" class="edit" id="discuss-form-edit" ng-model="commentContent" autocomplete="off" alt="编辑" placeholder="说点什么吧:)">
                    </div>
                </td>
                <td class="r">
                    <a class="send" ng-click="sendComment(commentContent)">评论</a>
                </td>
            </tr>
        </table>
    </footer>
</section>
