$color-orange: (
    300: #CA6003,
    400: #FCBC51,
    500: #FF9C2D,
    600: #FBBE01,
    700: #F8AC1B,
    900: #EF4A10
);

$color-gray: (
    200: #EEEEEE,
    300: #F2F2F2,
    400: #CCCCCC,
    500: #5F5F5F,
    700: #999999,
    800: #333333,
    1000: #000000
);

$color-red: (
    300: #EA545D,
    400: #FF353C
);

$color-green: (
    400: #35B497
);


$color-white: #FFFFFF;

$color-blue: (
    400: #01AFEC
);

$color-cyan: (
    300: #4CB8E6,
    400: #36C8CD,
);